@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

section {
    padding: 3rem 5%;
}

.product-page {
    width: 100%;
    height: 100%;
    /* margin-top: 10rem; */
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    gap: 4rem;
}

.product-page .single-product {
    height: 33rem;
    border: 1px solid blue;
}

.product-page .twenty-one,
.twenty-two {
    display: none;
}

.categories-title {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    padding-left: 10rem;
    line-height: 3rem;
    /* border: 1px solid red; */
    margin-top: 10rem;
}

.categories-title p span {
    margin: 0 1rem;
}

.categories-title p i {
    font-size: 1.5rem;
    font-weight: 400;
}


/* -------media query for mobile phones------ */

@media(min-width:0px) and (max-width:600px) {
    .product-page {
        grid-template-columns: repeat(2, minmax(15rem, 1fr));
    }
}


/* -------media query for larger phones and tablets------ */

@media(min-width:600px) and (max-width:768px) {
    .product-page {
        grid-template-columns: repeat(3, minmax(15rem, 1fr));
    }
    .product-page .twenty-one {
        display: block;
    }
}


/* -------media query for tablets------ */

@media(min-width:768px) and (max-width:1024px) {
    .product-page {
        grid-template-columns: repeat(4, minmax(15rem, 1fr));
    }
}


/* -------media query for desktops------ */

@media(min-width:1025px) and (max-width:1600px) {
    .product-page {
        grid-template-columns: repeat(5, minmax(15rem, 1fr));
    }
}